@import './config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $body-color;
}

.main-content {
  background-color: $dashboard-bg;
  width: 80%;
  margin: 50px auto 70px;
  display: flex;
  padding: 15px;
}
